<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Email:</label>
            <input type="email" formControlName="email" />
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Email is required and must be valid.
            </div>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" formControlName="password" />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Password is required.
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>

        <div *ngIf="errorMessage" style="color: red;">
            {{ errorMessage }}
        </div>
    </form>
    <p>Don't have a account yet? <span><a routerLink="/auth/signup">SignUp</a></span></p>
</div>