.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #343a40;
}

.nav-link {
  color: #fff;
  &:hover, &.active {
    background-color: #495057;
  }
}

.dropup {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 0.5rem 1rem;

  .dropdown-toggle {
    cursor: pointer;
  }
}
